body {
    font-family: 'Josefin Sans', sans-serif;
}

header {
    background-color: lightcoral;
    padding: 20px;
}

#fotoPerfil {
    width: 10%;
}

header h1 {
    font-size: 2rem;
}

header p {
    background: antiquewhite;
    width: 20%;
    margin: 0 auto;
}

main{
    margin-top: 2%;
}

main h2{
    margin: 0px !important;
}

main ul{
    margin-top: 1%;
    list-style: none;
    padding: 0px;
    font-size: 1.15rem;
}

main span{
    font-size: 0.75rem;
    color: grey;
}

#tools{
    margin-top: 2%;
    margin-bottom: 2%;
}

#about-me-text p{
    font-size: 1.7rem;
}

.card{
    width: 22vw;
}

footer{
    margin-top: 5%;
    background-color: darkcyan;
}

.social-link{
    margin: 0px 1%;
}

.icon{
    font-size:  7em;
    color: aliceblue;
    opacity: 0.3;
}

.icon:hover{
    opacity: 1;
}

.tools-list li{
    opacity: 0.5;
    cursor: pointer;
}

.tools-list li:hover{
    opacity: 1;
}

@media screen and (max-width:768px){
    #fotoPerfil {
        width: 55%;
    }
    header p{
        width: 100%;
    }
    .icon{
        font-size:  3em;
        opacity: 1;
    }
    .tools-list li{
        opacity: 1;
    }
}