body{
    padding-bottom: 0px;
    font-family: 'Josefin Sans', sans-serif;
}
li {
    cursor: default;
    list-style: none;
    color: black;
    opacity: 0.6;
}

li:hover {
    opacity: 1;
}

.is-circular {
    border-radius: 50%;
}

.is-200x200 {
    width: 200px;
    height: 200px;
}

.is-margin-top-5 {
    margin-top: 6.5%;
}

.is-body-personalised {
    height: 400px;
    margin-bottom: 85px;
}

.is-padding-bottom-5{
    padding-bottom: 5%;
}

.is-link{
    color: #363636;
}

.is-link:hover{
    color:blue;
}

.is-social{
    color: #363636;
    opacity: 0.8;
}

.is-social:hover{
    opacity: 1;
}

@media screen and (max-width:900px){
    .is-body-personalised{
        height: auto;
        margin-bottom: 40px;
        margin-top: 11%;
    }
    .is-padding-bottom-5{
        padding-left: 10%;
    }
}